.p1{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px 920px 20px 20px;
    border: solid black 5px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    line-height: 40px;
    text-transform: none;
    color: $color;
}

#parrafodecontacto{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    text-align: left;
    line-height: 40px;
    text-transform: none;
    color: $color;
    margin:10px 20px 15px 15px;
    padding: 5px 5px 10px 13px;
    border: solid black 1px;
}

.parrafo{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:5px 125px 15px 15px;
    padding: 5px 5px 10px 13px;
    border: solid black 2px;
}